<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  type="text/css" href="css/style.css">
</head>
<body>
    <header>
        <div class="header__logo">LOGO</div>
        <nav class="header__nav">
            <ul>
                <li><a class="button button--menu" href="/">Accueil</a></li>
                <li><a class="button button--menu" href="/promos">Promos</a></li>
                <li><a class="button button--menu" href="">Login</a></li>
            </ul>
        </nav>

    </header>

    <h1>Trombi O'Clock</h1>

    <footer>
        <div class="footer__content">
            <p>Copyright oclock  2024</p>
            <a href="">Mentions légales</a>
        </div>


    </footer>

</body>


</html>